<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier Result</title>
    <link rel="stylesheet" href="static\predict.css">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='uploads/' + filename) }}" width="300px" class="img">

        <p>Prediction: {{ label }}</p>
        <p class="confidence">Confidence: {{ confidence }}%</p>

        <button id="back">Back</button>
    </div>

    
    <script src="static\script.js"></script>
</body>
</html>